name: Publish
on:
  pull_request:
  push:
    branches: [master]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
  checks: write

jobs:
  build-pdfs:
    name: Build PDFs
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install LyX
        run: |
          # sudo add-apt-repository ppa:lyx-devel/release
          sudo apt-get update
          sudo apt-get install lyx
      - uses: hustcer/setup-nu@v3
        with:
          version: "0.110"
      - name: Build PDFs
        shell: nu {0}
        run: |
          mkdir build
          glob '**/<[0-9]:2>-<[0-9]:3>*.lyx' | take 1 | each {|lyx_fullpath|
              let lyx_filename = $lyx_fullpath | path basename
              let lyx_dir = $lyx_fullpath | path dirname
              let pdf_filename = $lyx_filename | path parse | update extension pdf | path join
              cp $lyx_fullpath build
              cd build
              ^echo lyx --export-to pdf $pdf_filename $lyx_filename
              lyx --export-to pdf $pdf_filename $lyx_filename | complete | insert source $lyx_fullpath
          } | each {|res|
              print $res
              if $res.exit_code != 0 {
                print $"Failed to build ($res.source)"
                print $res.stderr
              }
          }
      - name: Upload PDF files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/
